
.add-member-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0.5rem 0 3rem 0;
    width: 100%;
}

.add-member-window h1{
    margin-bottom: 2rem;
}

.add-member-window label{
    font-size: 0.9rem;
    margin-top: 1rem;
}

.add-member-form input{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--midgrey);
    border-radius: 0.3rem;
    font-size: 1rem;
}

.add-member-form input:focus{
    outline: none;
    border: 2px solid #2584FF;
}

.add-member-form button{
    width:100%;
    padding: 0.7rem;
    margin-top: 2.5rem;
    border: none;
    border-radius: 0.2rem;
    background: #2584FF;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
}
