
.calendar-page{
    height: 100%;
    position: fixed;
    top: 3.5rem;
    right: 0;
    width: calc(100% - 18rem);
    padding: 0.5rem 4rem;
}

.calendar-page.full-width{
    width: 100%;
}

.calendar-view{
    width: 100%;
    height: 92%;
    background: white;
    border-radius: 0.3rem;
    border: 1px solid var(--lightgrey);
    position: relative;
}

.calendar-grid{
    width: 100%;
    height: 100%;
}

.rs-calendar-panel .rs-calendar-table-cell-selected .rs-calendar-table-cell-content {
    box-shadow: none;
}

.rs-calendar-panel .rs-calendar-table-cell-is-today .rs-calendar-table-cell-content{
    background: rgba(52, 152, 255, 0.1);
    box-shadow:inset 0 0 0 1.5px rgba(52, 152, 255, 0.2);
}

.rs-calendar-table-cell-content:hover{
    background: white;
}

.add-event-btn{
    position: absolute;
    top: 1.2rem;
    right: 5rem;
    font-size: 0.8rem;
    font-weight: 400;
    background: none;
    color: var(--darkgrey);
    border: none;
    cursor: pointer;
    transition: 0.3s;
    z-index: 1000;
}


