
.create-announce-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0.5rem 0 3rem 0;
    width: 100%;
}

.create-announce-window h1{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.create-announce-window label{
    font-size: 0.8rem;
    margin-top: 1rem;
}

.create-announce-form textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 7rem;
    padding: 0.5rem;
    border: 1px solid var(--midgrey);
    border-radius: 0.3rem;
    font-size: 1rem;
    font-size: 0.8rem;
    color: black;
}

.create-announce-form textarea:focus{
    outline: none;
    border: 2px solid #2584FF;
}

.create-announce-form button{
    width:100%;
    padding: 0.7rem;
    margin-top: 2.5rem;
    border: none;
    border-radius: 0.2rem;
    background: #2584FF;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
}