:root {
  --offwhite: #f8f8f8;
  --lightgrey: #ebebeb;
  --midgrey: #d9d9d9;
  --darkgrey: #a6a6a6;
  --blackgrey: #545454;
  --red: #eb9494;
  --blue: #80a3d1;
  --turq: #bccccd;
  --orange: #f8b77c;
  --green: #6fbf83;
  --purple: #bf95ef;
  --bright-blue: #3498ff;
  --user-0: #f66756;
  --user-1: #8ecae6;
  --user-2: #ffb700;
  --user-3: #209dbc;
  --user-4: #ff9d03;
  --user-5: #146782;
  --user-6: #fc8500;
  --user-7: #013147;
}

.dashboard-page {
  height: calc(100% - 3.5rem);
  position: fixed;
  top: 3.5rem;
  right: 0;
  width: calc(100% - 18rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-page.full-width {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1.6fr 0.2fr 1.2fr;
  grid-template-rows: 1.5fr 0.2fr 0.2fr 1fr 0.2fr 1.3fr;
  grid-gap: 0;
  height: 90%;
  width: 90%;
  max-width: 62rem;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 0.3rem;
  border: 1px solid var(--lightgrey);
}

.container:nth-child(1) {
  grid-row: 1 / span 2;
  grid-column: 1 / 2;
}

.container:nth-child(2) {
  grid-row: 1 / span 4;
  grid-column: 3 / 4;
}

.container:nth-child(3) {
  grid-row: 4 / span 3;
  grid-column: 1 / 2;
}

.container:nth-child(4) {
  grid-row: 6 / span 2;
  grid-column: 3 / 4;
}

.container-header {
  width: 90%;
  height: 3rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

.container-header.space-between {
  justify-content: space-between;
}

.container-header.center {
  justify-content: center;
}

.container-header.together {
  justify-content: flex-start;
}

.container-header.together h3 {
  margin-right: 1rem;
}

.container-header h3 {
  font-weight: 400;
  font-size: 0.9rem;
}

.container-header p {
  font-size: 0.7rem;
  color: var(--darkgrey);
  cursor: pointer;
}

.container-contents {
  width: 95%;
  height: calc(100% - 2.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Stats */

.stats {
  padding: 0 2.5rem;
  display: flex;
  justify-content: space-between;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.stat h3 {
  font-size: 2rem;
  font-weight: 400;
}

.stat p {
  font-size: 0.7rem;
  color: var(--darkgrey);
  max-width: 95%;
  text-align: center;
}

/* ToDo */

.todo-view .container-contents {
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
}

.my-chore-container {
  width: 100%;
  min-height: 3rem;
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--lightgrey);
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.my-chore-title {
  font-size: 0.8rem;
  font-weight: 400;
  margin-right: 1rem;
}

.progress {
  padding: 0.2rem 0.5rem;
  font-size: 0.7rem;
  border-radius: 0.2rem;
}

.progress-edit {
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  font-size: 0.8rem;
  cursor: pointer;
}

/* Announcement Container */

.announcements-view .container-contents {
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  padding: 0 2rem;
  gap: 1rem;
}

.announcement-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--lightgrey);
  border-radius: 0.3rem;
  align-items: flex-start;
  justify-content: center;
  padding: 0 3rem 0 0.8rem;
  background: white;
  position: relative;
}

.announcement-container p {
  font-size: 0.8rem;
  width: 100%;
  height: fit-content;
  margin: 1rem 0;
}

.announcement-container .author {
  color: var(--darkgrey);
  margin-top: 0.5rem;
}

.announcement-container .buttons {
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.announcement-container .buttons button {
  background: none;
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  color: var(--darkgrey);
}

/* Upcoming Events Container */

.upcoming-events-view .container-contents {
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  border-top: 1px solid var(--lightgrey);
}

.upcoming-event-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--lightgrey);
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
}

.upcoming-event-container .left-container {
  display: flex;
  gap: 0.8rem;
}

.upcoming-event-container .date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 0.5rem;
  width: 3.5rem;
  font-size: 0.8rem;
  background: rgba(52, 152, 255, 0.4);
  border-radius: 0.3rem;
}

.upcoming-event-container .date p {
  text-align: center;
  color: #1862c2;
}

.upcoming-event-container .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.upcoming-event-container .info .time {
  font-size: 0.8rem;
  color: var(--darkgrey);
}

.upcoming-event-container .info .title {
  margin-bottom: 0rem;
  font-size: 0.9rem;
}

.upcoming-event-container .right-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0;
  color: black;
}

.upcoming-event-container .right-container .user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: black;
}

.upcoming-event-container .right-container button {
  background: none;
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  color: var(--darkgrey);
}

.upcoming-event-container .identifier {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: var(--user-0);
}

.upcoming-event-container .username {
  color: black;
}

/* Other */

.container-contents.empty {
  justify-content: center;
  align-items: center;
  color: var(--darkgrey);
}

.no-household {
  font-size: 1.6rem;
  color: var(--darkgrey);
  font-weight: 400;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.no-household .text {
  margin-bottom: 1rem;
}

.no-household .instructions {
  font-size: 1rem;
  color: var(--darkgrey);
  font-weight: 400;
}
