.header {
  width: 100%;
  height: 3.5rem;
  background: white;
  border-bottom: 1px solid var(--lightgrey);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.nav-list {
  display: flex;
  gap: 1rem;
  max-width: fit-content;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
  background: var(--lightgrey);
}

.nav-item {
  list-style: none;
  font-size: 0.7rem;
  cursor: pointer;
  padding: 0.1rem 0.3rem;
}

.nav-item.active {
  background: white;
  border-radius: 0.3rem;
}

.user-auth {
  font-size: 0.8rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.exit-icon {
  cursor: pointer;
}

.functionality-container {
  position: absolute;
  right: 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.household-buttons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.household-buttons button {
  font-size: 0.7rem;
  padding: 0.2rem 0.4rem;
  background: white;
  border: 1px solid var(--midgrey);
  border-radius: 0.2rem;
  cursor: pointer;
}
