.sidebar {
  width: 18rem;
  border: 1px solid var(--lightgrey);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 3.5rem;
  z-index: 100;
  overflow: visible;
}

.sidebar.closed {
  left: -20rem;
}

.hamburger-menu {
  position: fixed;
  top: 0.8rem;
  left: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.user-container {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  border-bottom: 1px solid var(--lightgrey);
}

.user-identity {
  height: fit-content;
  display: flex;
  align-items: flex-start;
  width: fit-content;
  margin-bottom: 1.3rem;
}

.user-identifier {
  background-color: var(--blue);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 0.7rem;
  margin-top: 0.3rem;
}

.fullname {
  font-size: 1rem;
}

.username {
  font-size: 0.8rem;
  color: var(--darkgrey);
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  font-size: 0.8rem;
}

.user-info p {
  margin-top: 0.6rem;
}

.household-container {
  width: 100%;
  height: 75%;
}

.household-container-header {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem 1rem;
}

.household-container-header h3 {
  font-size: 1rem;
  font-weight: 400;
}

.household-container-header p {
  font-size: 0.8rem;
  color: var(--darkgrey);
  cursor: pointer;
}

.members-list {
  width: 100%;
  height: 80%;
  overflow-y: auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem 0;
}

.member-container {
  width: 100%;
  min-height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
  background: white;
  border: 1px solid var(--lightgrey);
  border-radius: 0.4rem;
}

.member-identifier {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  background: var(--user-3);
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.member-container .fullname {
  font-size: 0.8rem;
}

.member-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  font-size: 0.7rem;
}

.member-container .username {
  font-size: 0.7rem;
}

/* No Household */

.no-household-container {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1.5rem;
}

.no-household-container h3 {
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0.5rem;
  color: var(--darkgrey);
}

.no-household-container p {
  font-size: 0.8rem;
  color: var(--darkgrey);
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
}
